* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 80px 0 0;
}
.gallery img {
  width: 400px;
  height: 300px;
}
.search-wrapper {
  margin: 20px 0;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  align-items: center;
}
.search-input {
  padding: 10px 20px;
}
.search-btn {
  padding: 10px 20px;
}
.load-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
}
#coupon-birds-embed-div {
  display: none;
}
